* {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
body {
  height: auto;
  background: #fff !important;
  overflow: auto;
  color: rgb(var(--color));
  width: 100%;
  color: #1c1a26;
  padding-bottom: 60px;
  font-weight: 400;
}

.custom-badge{
  background-color: #1c1a26 !important;
  color: white;
  padding: 5px 10px;
  border-radius: 0px 0px 0px 25px ! important;
}
.custom-card{
  border-radius: none !important;
  border: none ! important;
}
.btn-cart{
  border-radius: none ! important;
  border: none ! important;
  background-color: #1b1a20 !important;
  color: white !important;
}
.btn-cart:hover{
  background-color: #333 !important;
  color: white !important;
}
.custom-navbar{
  background-color: #23303a !important;
  color: white !important;
}
.custom-navbar a{
  font-weight: 600 !important;
  color: white !important;
}
p strong {
  font-size: 13px;
  color: #444;
}
.cart-badge{
  border: none;
  background-color: #ff9c08 !important;
}
.card img{
  -webkit-mask-image: linear-gradient(black 80%, transparent);
  mask-image: linear-gradient(black 80%, transparent);
/*  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  transition: transform 0.5s ease;*/
}

.offcanvas-backdrop.show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Gris oscuro con opacidad */
  z-index: 1040; /* Asegura que esté detrás del offcanvas */
}

/* Transición para el offcanvas */
.offcanvas {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-end.show {
  transform: translateX(0);
}

/* Transición para el backdrop */
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  z-index: 1040; /* Asegura que esté detrás del offcanvas */
  display: none;
}

.offcanvas-backdrop.show {
  display: block;
}


/**Detalles del carrito de compra */
.title-product{
    font-size: 15px !important;
    color: #333;
    font-weight: bold;
}
.detalles-product{
    font-size: 13px !important;
    color: #888 !important;
}

.swing-on-hover i {
  display: inline-block;
  transition: transform 0.2s ease; /* Para suavizar el inicio del hover */
}

.swing-on-hover i:hover {
  animation: swing 0.6s ease forwards; /* Animación de balanceo */
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bi-bag-heart{
  font-size: 18px;
}

.offcanvas-body {
  background-color: #f8f9fa;
  max-height: 60vh; 
  overflow-y: auto; 
}
.btn-comprar{
  background-color: #ff9c08 ! important;
  font-weight: bold;
  border: none !important;
}
.btn-comprar:hover{
 opacity: 0.9 !important;
}
h5{
  width: 100% !important;
}